body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* لون خلفية هادئ */
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff; /* خلفية بيضاء للحاوية */
    border-radius: 8px;
}

header h1 {
    text-align: center;
    color: #004d00; /* لون أخضر داكن */
}

button {
    background-color: #00796b; /* لون أخضر داكن */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40; /* لون أخضر داكن جداً عند التمرير */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#results {
    margin-top: 20px;
    padding: 10px;
}

.catalog {
    margin-top: 30px;
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
}

.catalog ul {
    list-style-type: none;
    padding: 0;
}

.catalog li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.catalog li:last-child {
    border-bottom: none;
}
